<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- Define a custom encoder -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([%5p]){
                %highlight(%-5level,
                INFO, default,
                DEBUG, cyan,
                WARN, yellow,
                ERROR, red,
                TRACE, blue)
                } %clr([%t]){faint} %clr(%logger{0}.%M){cyan}: %clr(%msg){faint}%n

            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
